*
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

.main
{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.left-area
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-area
{
    flex: 1;
    height: 100vh;
}

.link-container
{
    display: flex;
    flex-direction: column;
    width: 70%;
    line-height: 2rem;
    font-size: 30px;
    gap: 4px;
}

.more-info
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more-info h1
{
    font-size: 40px;
}

.link-item
{
    padding: 16px;
    color: white;
}

#about-link
{
    background-color: #dc3545;
}

#education-link
{
    background-color: #007bff;
}

#fundraising-link
{
    background-color: #ffc107;
}

#projects-link
{
    background-color: #28a745;
}

#other-link
{
    background-color: #17a2b8;
}

.image-area
{
    height: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurb-area
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
}

.blurb-area > h2
{
    margin: 0;
    padding-bottom: 2%;
    font-size: 32px;
    overflow: hidden;
}

.blurb-area > p
{
    text-indent: 20px;
    font-size: 20px;
    line-height: 2rem;
    
}

.image-container
{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#main-image
{
    flex: 1;
    width: 320px;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    background-image: url('../images/WalesPhoto.jpg');
    background-color: aliceblue;
    height: 320px;
    clip-path: circle();
}

/* img#landing-image
{
    max-width: 60%;
    object-fit:fill;
    clip-path: circle();
    border: 5px solid crimson;
} */